@font-face {
    font-family: "Marianne";
    src: url("../fonts/Marianne-Regular.otf") format("otf");
    font-weight:normal;
   }

   body{
    font-family: "Marianne";
    font-weight:normal;
   }

   .container{
    max-width: 1100px;
    margin: 50px auto;
   }

   .author-info,.illu-info{
    color: rgb(127, 127, 127);
    margin: 0;
   }

   h1{
    font-size: 56px;
    margin: 0;
    line-height: 109.5%;
   }

   .tags{
    display: flex;
   }

   .tag{
    background-color: red;
    color:white;
    padding: 5px 10px;
    border-radius: 50px;
   }

   .img-illu{
    width: 100%;
   }

   .article{
    margin: 50px 0px;
    font-size: 20px;
   }

   .tag + .tag{
    margin-left: 5px;
   }

   h3{
    margin-bottom: 0;
   }